<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
  <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card">
      <div class="card-body">
        <section class="container">
          <header>تسجيل الدخول</header>
          <form action="/login" class="form" method="POST">
            <div class="input-box">
              <label>العنوان البريدي</label>
              <input type="email" name="email" placeholder="أدخل العنوان البريدي" required />
            </div>
            <div class="input-box">
              <label>كلمة السر</label>
              <input type="password" name="password" placeholder="أدخل كلمة المرور" required />
            </div>
            <div class="link">
              <a href="./reset.html">إعادة ضبط كلمة السر</a>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <%- include('../include/end.ejs') %>
</body>
</html>
