<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
        <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
                      
                
        </div>

  </div>
</div>
<%- include('../include/end.ejs') %>

