<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
            <section class="container">
              <header>إضافة مستخدم</header>

              <form action="/admin/signStudent" class="form" method="POST">
                <div class="column">
                  <div class="input-box">
                    <label for="name">الاسم الكامل</label>
                    <input type="text" 
                      name="name" 
                      id="name"
                      placeholder="أدخل الاسم الكامل" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="nationalNumber">الرقم الوطني</label>
                    <input type="number"
                      name="nationalNumber" 
                      id="nationalNumber"
                      placeholder="أدخل الرقم الوطني" 
                      required />
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label for="militaryNumber">رقم التجنيد</label>
                    <input type="number" 
                      name="militaryNumber" 
                      id="militaryNumber"
                      placeholder="أدخل رقم التجنيد " 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="birthdate">تاريخ الولادة</label>
                    <input type="date" 
                      name="birthdate" 
                      id="birthdate"
                      placeholder="أدخل تاريخ الولادة" 
                      required />
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label for="phoneNumber">رقم الموبايل</label>
                    <input type="number" 
                      name="phoneNumber"
                      id="phoneNumber"
                      placeholder="أدخل رقم الموبايل" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="delayedTo">أجل إلى تاريخ</label>
                    <input type="date" 
                    name="delayedTo"
                    id="delayedTo"
                    placeholder="أدخل تاريخ الولادة" 
                    required />
                  </div>
                </div>
                <div class="input-box">
                  <div class="form">
                    <div class="input-box mb-3">
                      <label for="division" class="form-label">الشعبة</label>
                      <select class="form-select"
                        name="division" 
                        id="division" 
                        placeholder="اختر خيارًا...">
                        <option value="" selected>اختر خيارًا...</option>
                        <option value="division 1">division 1</option>
                        <option value="division 2">division 2</option>
                        <option value="division 3">division 3</option>
                      </select>
                    </div>
                  </div>                  
                </div>
                <div class="input-box">
                  <label for="address">عنوان السكن</label>
                  <input type="text"
                    name="address"
                    id="address" 
                    placeholder="أدخل عنوان السكن" 
                    required />
                </div>
                <div class="input-box">
                  <label for="email">العنوان </label>
                  <input type="text"
                    name="email"
                    id="email" 
                    placeholder="أدخل العنوان البريدي" 
                    required />
                </div>
                <div class="input-box">
                  <label for="password">كلمة السر</label>
                  <input type="password"
                    name="password"
                    id="password" 
                    placeholder="أدخل كلمة السر" 
                    required />
                </div>
                <button class="btn" type="submit">إضافة</button>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../include/end.ejs') %>