<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
        <div class="container-fluid d-flex justify-content-center align-items-center">
          <div class="card-body container">
              <header>إضافة مستخدم</header>

              <form action="/admin/signStudent" class="form" method="POST">
                <div class="column">
                  <div class="input-box">
                    <label for="name">الاسم الكامل</label>
                    <input type="text"
                      class="form-control" 
                      name="name" 
                      id="name"
                      placeholder="أدخل الاسم الكامل" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="nationalNumber">الرقم الوطني</label>
                    <input type="number"
                      class="form-control"
                      name="nationalNumber" 
                      id="nationalNumber"
                      placeholder="أدخل الرقم الوطني" 
                      required />
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label for="militaryNumber">رقم التجنيد</label>
                    <input type="number" 
                      class="form-control"
                      name="militaryNumber" 
                      id="militaryNumber"
                      placeholder="أدخل رقم التجنيد " 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="birthdate">تاريخ الولادة</label>
                    <input type="date"
                      class="form-control" 
                      name="birthdate" 
                      id="birthdate"
                      placeholder="أدخل تاريخ الولادة" 
                      required />
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label for="phoneNumber">رقم الموبايل</label>
                    <input type="number"
                      class="form-control" 
                      name="phoneNumber"
                      id="phoneNumber"
                      placeholder="أدخل رقم الموبايل" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="delayedTo">أجل إلى تاريخ</label>
                    <input type="date" 
                      class="form-control"
                      name="delayedTo"
                      id="delayedTo"
                      placeholder="أدخل تاريخ الولادة" 
                      required />
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label for="select-search" class="form-label">الشعبة</label>
                    <select class="form-select form-control"
                      name="division" 
                      id="division" 
                      placeholder="اختر خيارًا...">
                      <option value="" selected>اختر خيارًا...</option>
                      <option value="division 1">division 1</option>
                      <option value="division 2">division 2</option>
                      <option value="division 3">division 3</option>
                    </select>              
                  </div> 
                  <div class="input-box">
                    <label for="address">عنوان السكن</label>
                    <input type="text"
                      class="form-control"
                      name="address"
                      id="address" 
                      placeholder="أدخل عنوان السكن" 
                      required />
                  </div>
                </div>
                <div class="input-box">
                  <label for="email">العنوان البريدي</label>
                  <input type="text"
                    class="form-control"
                    name="email"
                    id="email" 
                    placeholder="أدخل العنوان البريدي" 
                    required />
                </div>
                <div class="input-box">
                  <label for="password">كلمة السر</label>
                  <input type="password"
                    class="form-control"
                    name="password"
                    id="password" 
                    placeholder="أدخل كلمة السر" 
                    required />
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">إضافة</button>
                </div>
              </form>
          </div>
        </div>
  </div>
</div>
<%- include('../include/end.ejs') %>