<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
      <div class="container-fluid d-flex justify-content-center align-items-center ">
        <div class="card-body container">
                <header>إضافة آدمن</header>
                <form action="/admin/signAdmin" class="form" method="POST">
                  <div class="input-box">
                    <label for="name">الاسم الكامل</label>
                    <input 
                      class="form-control"
                      type="text" 
                      name="name" 
                      id="nmae"
                      placeholder="أدخل الاسم الكامل" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="select-search" class="form-label">الشعبة</label>
                    <select class="form-select form-control"
                      name="division" 
                      id="division" 
                      placeholder="اختر الشعبة...">
                      <option value="">اختر الشعبة</option>
                      <option value="Qaymariya">قيمرية</option>
                      <option value="Salihiya">صالحية</option>
                      <option value="Mezzeh">مزة</option>
                      <option value="Amara">عمارة</option>
                      <option value="Maidan">ميدان</option>
                    </select>              
                  </div> 
                  <div class="input-box">
                    <label for="email">العنوان البريدي</label>
                    <input 
                      class="form-control"
                      type="email" 
                      name="email" 
                      id="email"
                      placeholder="أدخل العنوان البريدي" 
                      required />
                  </div>
                  <div class="input-box">
                    <label for="password">كلمة السر</label>
                    <input 
                      class="form-control"
                      type="password" 
                      name="password" 
                      id="password" 
                      placeholder="أدخل كلمة السر"
                      required />
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">إضافة</button>
                  </div>
                </form>
        </div>
      </div>
  <!--  close Main wrapper -->
  </div>
<!--  close Body Wrapper -->
</div>
<%- include('../include/end.ejs') %>