<%- include('include/head.ejs') %>

</head>

<body>
  <%- include('include/navigation.ejs') %>
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Error Text -->
                <div class="error-text">
                    <h2><span>عذراً!</span>الصفحة غير موجودة</h2>
                    <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
                </div>
                <!--/ End Error Text -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- Error Image -->
                <div class="error-image">
                    <img src="/assets/images/error.svg" alt="error-image">
                </div>
                <!--/ End Error Image -->
            </div>
        </div>

      </div>
    </div>
  </div>
<%- include('include/end.ejs') %>