<%- include('../include/head.ejs') %>
</head>
<body>
  <%- include('../include/navigation.ejs') %>
    <!-- Upload Content Start -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
          <div class="container-fluid d-flex justify-content-center align-items-center vh-100 col-md-10 col-lg-9 col-xxl-5">
              
          </div>
      </div>
    </div>
  </div>
</div>
<%- include('../include/end.ejs') %>
