<%- include('../include/head.ejs') %>

</head>

<body>
  <%- include('../include/navigation.ejs') %>
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <p>myrequest</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../include/end.ejs') %>